<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advice</title>
  </head>
  <body>
    <h1>Here is some Advice</h1>
    <% if (data){ %>
    <p><%= data %></p>
    <% } else if (error){ %>
    <p><%= error %></p>
    <% } %>
    <form action="/" method="post">
      <button type="submit">YOUR ADVICE</button>
    </form>
  </body>
</html>
